<div class="container px-5 py-1 mx-auto text-sm">

  <div class="w-full md:w-12/12">
    <div class="grid md:grid-cols-1 text-xs">
      <div class="grid grid-cols-3">

        <div class="px-1 py-2 font-semibold col-span-1">SSH username</div>
        <div class="py-2 col-span-2"><%= current_user.ssh_username %></div>

        <div class="px-1 py-2 font-semibold col-span-1">SSH public key</div>
        <div class="py-2 col-span-2 break-words"><%= current_user.ssh_key %></div>

      </div>
    </div>
  </div>

</div>