<tr id="<%= dom_id(audit_log) %>" class="border-b border-gray-200 hover:bg-gray-100">

  <td class="px-3 text-left">
    <p class="text-xs break-words"><%= audit_log.event %></p>
  </td>

  <td class="px-3 text-right">
    <p class="text-xs break-words"><%= audit_log.created_at %></p>
  </td>

</tr>