<tr id="<%= dom_id(user) %>" class="border-b border-gray-200 hover:bg-gray-100">

  <td class="px-3 text-left">
    <p class="text-xs font-semibold text-gray-600 break-words"><%= link_to user.displayname, user, data: { turbo: :false } %></p>
  </td>

  <td class="px-3 text-left">
    <p class="text-xs text-gray-600 break-words"><%= user.work_email_address %></p>
  </td>

</tr>