<tr id="<%= dom_id(access) %>" class="border-b border-gray-200 hover:bg-gray-100">

  <td class="px-3 text-left">
    <p class="text-xs font-semibold text-gray-600 break-words"><%= access.user.displayname %></p>
  </td>

  <td class="px-3 text-left">
    <div class="text-xs font-semibold text-gray-600 break-words justify-end flex items-center">
      <% if access.expires_at.present? %>
        <p class="text-gray-400 font-medium text-xs">expires at <%= access.expires_at.to_date %></p>
      <% end %>
      <% if access.approved? %>
        <%= link_to "Revoke", comment_access_path(access), data: { controller: 'turbo' },  
                    class: "px-3 py-1 text-xs font-medium text-center text-red-800 mr-1 w-20 h-6" %>
      <% end %>

    </div>
  </td>

</tr>